form div {
  margin: 7px;
}

.imagediv {
  margin: 7px;
}

form label {
  display: block;
}

.header {
  margin-bottom: -15px;
}

.validation-error {
  display: block;
  color: red;
}

.container {
  display: flex;
}

.container > div, .container > form {
  margin: 5px;
  padding: 5px;
}

table, td, th {
  border: 1px solid black;
}

td {
  min-width: 100px;
}

.id {
  min-width: 20px;
  text-align: center;
}

table {
  border-collapse: collapse;
  min-width: 400px;
}

.inline {
  display: inline-block;
}

header > span {
  display: inline-block;
  min-width: 30%;
;
}

.float-right {
  display: inline-block;
  min-width: 30%;
}

.active {
  font-weight: bold;
}
