<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<header th:fragment="header">
    <span th:classappend="${activePage == 'courses'} ? active">
        <a th:href="@{/course}">Courses</a>
    </span>

    <span th:classappend="${activePage == 'users'} ? active" sec:authorize="hasAnyRole('!ADMIN','STUDENT')">
        <a th:href="@{/user}">User</a>
    </span>

    <span th:classappend="${activePage == 'admin'} ? active" sec:authorize="hasRole('ADMIN')">
        <a th:href="@{/admin/users}">Users</a>
    </span>

    <span class="float-right" sec:authorize="!isAuthenticated()">
        <a th:href="@{/login}">
            Login
        </a>
    </span>

    <span class="float-right" sec:authorize="!isAuthenticated()">
        <a th:href="@{/user/registration}">
            Registration
        </a>
    </span>

    <form class="float-right" sec:authorize="isAuthenticated()" th:method="post"
          th:action="@{/logout}">
        <button>
            Logout <span sec:authentication="principal.username">Username</span>
        </button>
    </form>
</header>

</html>