<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<header th:replace="fragments/header :: header"></header>

<head>
    <meta charset="utf-8">
    <title>Error</title>

    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div class="text-center" style="margin-top: 10%">
    <h1>Что-то пошло не так :( </h1>
    <h3>Вы будете автоматически перенаправлены на <a th:href="@{/course}">главную страницу</a></h3>
</div>
<script>
    setTimeout(() => window.location.href = "/course", 3000);
</script>

</body>
</html>
