<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>Courses</title>

  <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>

<form th:object="${course}" th:method="post" th:action="@{/course/save}">
  <input type="hidden" th:field="*{id}">

  <div>
    <label for="title">Название курса</label>
    <input type="text" id="title" th:field="*{title}">
  </div>

  <div>
    <label for="author">Автор Курса</label>
    <input type="text" id="author" th:field="*{author}">
  </div>

  <div>
    <button type="submit">Подтвердить</button>
  </div>
</form>

</body>

</html>