<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>EShop application</title>

    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>

<h1>Список курсов</h1>

<div>
    <a th:href="@{/course/new/}">Создать курс</a>
</div>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Название курса</th>
        <th>Автор курса</th>
        <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="course : ${coursePage.content}">
        <td th:text="${course.id}">1</td>
        <td><a th:text="${course.title}" th:href="@{/course/{id}(id = ${course.id})}">Course name</a>
        </td>
        <td th:text="${course.author}">Course author</td>
        <td>
            <form class="inline" th:method="delete" th:action="@{/course/{id}(id = ${course.id})}">
                <button type="submit">Удалить</button>
            </form>
            <form class="inline" th:method="get" th:action="@{/course/{id}/assign(id = ${course.id})}">
                <button type="submit">Назначить</button>
            </form>
        </td>
    </tr>
    <tr th:if="${coursePage.size == 0}">
        <td colspan="4">Тут скоро появятся курсы</td>
    </tr>
    </tbody>
</table>
<div th:if="${coursePage.totalPages > 0}" class="pagination"
     th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/course(size=${coursePage.size}, page=${pageNumber})}"
       th:text=${pageNumber}
       th:class="${pageNumber==coursePage.number + 1} ? active"></a>
</div>
</body>

</html>