<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Lesson</title>

    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<form th:object="${lesson}" th:method="post" th:action="@{/lesson/save}">
    <input type="hidden" th:field="*{id}">
    <input type="hidden" th:field="*{moduleId}">
    <div>
        <label for="title">Название урока</label>
        <input type="text" id="title" th:field="*{title}">
        <small class="validation-error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
            Название урока не может быть пустым
        </small>
    </div>
    <div>
        <label for="description">Описание урока</label>
        <input type="text" id="description" th:field="*{description}">
    </div>
    <div>
        <label for="content">Содержание</label>
        <textarea id="content" rows="5" cols="50" th:field="*{content}"></textarea>
    </div>
    <div>
        <label for="exercise">Задание</label>
        <textarea id="exercise" rows="5" cols="50" th:field="*{exercise}"></textarea>
    </div>
    <div>
        <button type="submit">Подтвердить</button>
    </div>
</form>