<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>EShop application</title>

    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>

<h1>Список модулей</h1>

<div>
    <a th:href="@{/module/new(course_id = ${course_id})}">Добавить новый модуль</a></a>
</div>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Название модуля</th>
        <th>Действие</th>
        <th>Уроки</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="module : ${modules}">
        <td th:text="${module.id}">1</td>
        <td><a th:text="${module.title}" th:href="@{/module/{id}(id = ${module.id})}">Module name</a>
        </td>
        <td>
            <form th:method="delete" th:action="@{/module/{id}(id = ${module.id})}">
                <button type="submit">удалить</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<div>
    <a th:href="@{/course}">Вернуться к курсам</a>
</div>

</body>

</html>