<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<header th:replace="fragments/header :: header"></header>
<head>
  <meta charset="utf-8">
  <title>Изменение пользователя</title>
  <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<div class="container">
  <form th:object="${user}" th:method="post" th:action="@{/admin/user/save}">
    <input type="hidden" th:field="*{id}" th:name="user_id" th:value="*{id}">
    <div>
      <label for="username">Имя пользователя</label>
      <input type="text" id="username" th:field="*{username}">
      <small class="validation-error" th:if="${#fields.hasErrors('username')}"
             th:errors="*{username}">username has to be filled</small>
    </div>

<!--    <div>-->
<!--      <label for="password">Пароль</label>-->
<!--      <input type="password" id="password" th:field="*{password}" name="password" th:value="*{password}">-->
<!--      <small class="validation-error" th:if="${#fields.hasErrors('password')}"-->
<!--             th:errors="*{password}">Пароль не может быть пустым</small>-->
<!--    </div>-->
<!--    <div>-->
<!--      <label for="matchingPassword">Подтверждение пароля: </label>-->
<!--      <input id="matchingPassword" type="password" th:field="*{matchingPassword}"/>-->
<!--      <small class="validation-error" th:if="${#fields.hasErrors('matchingPassword')}"-->
<!--             th:errors="*{matchingPassword}">matchingPassword has to be filled</small>-->
<!--    </div>-->
<!--    <div>-->
<!--      <label for="email">"Эл. почта"</label>-->
<!--      <input type="email" id="email" th:field="*{email}" name="email">-->
<!--    </div>-->

    <div class="form-group">
      <label for="roles">Права пользователя</label>
      <select multiple class="form-control" id="roles" th:field="*{roles}" required th:name="role_id">
        <option th:each="role : ${roles}"
                th:text="${role.name}"
                th:value="${role.id}"
                th:selected="${user.roles?.contains(role)}"></option>
      </select>
    </div>

    <div>
      <button type="submit">Подтвердить</button>
    </div>
  </form>
</div>

</body>
</html>